*.iml
*.xml
*.png
*.txt
*.docx
*.pdf
/HW/HW8/1.mp3
/HW/HW8/2.mp3
/HW/HW8/3.mp3
/HW/HW7/output-q-3-3.dill
/HW/HW7/HW7-4/person.log
/HW/HW7/HW7-4/sample.log
/HW/HW7/users.pickled
/HW/HW7/.idea/.gitignore
/HW/HW8/.idea/.gitignore
/HW/HW9/.vscode/launch.json
/HW/HW9/Subway/tests/metro.log
/HW/HW8/MoeinZ.mp3
/HW/HW8/Netta.mp3
/HW/HW8/Nikita.mp3
/HW/HW10/.idea/.gitignore
/HW/HW11/venv/
HW/HW10/HW10-3/__pycache__/
HW/HW10/temp.md
HW/HW11/.idea/
HW/HW11/HW11-3/__pycache__/
HW/HW7/HW7-4/__pycache__/
HW/HW7/__pycache__/
HW/HW9/Subway/__pycache__/
HW/HW9/Subway/models/__pycache__/
\HW\HW12\venv>
F:\Workspace\Github Workspace\Maktab78-Homeworks\HW\HW12\.idea