*.jpg
*.png
*.txt
*.docx
*.pdf
.idea/Maktab78-Homeworks.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/git_toolbox_prj.xml
/HW/HW8/1.mp3
/HW/HW8/2.mp3
/HW/HW8/3.mp3
/HW/HW7/.idea/git_toolbox_prj.xml
/HW/HW8/.idea/git_toolbox_prj.xml
/HW/HW7/.idea/HW7.iml
/HW/HW8/.idea/HW8.iml
/HW/HW7/.idea/misc.xml
/HW/HW8/.idea/misc.xml
/HW/HW7/.idea/modules.xml
/HW/HW8/.idea/modules.xml
/HW/HW7/output-q-3-3.dill
/HW/HW7/HW7-4/person.log
/HW/HW7/.idea/inspectionProfiles/profiles_settings.xml
/HW/HW8/.idea/inspectionProfiles/profiles_settings.xml
/HW/HW7/.idea/inspectionProfiles/Project_Default.xml
/HW/HW8/.idea/inspectionProfiles/Project_Default.xml
/HW/HW7/HW7-4/sample.log
/HW/HW7/users.pickled
/HW/HW7/.idea/vcs.xml
/HW/HW8/.idea/vcs.xml
/HW/HW7/.idea/.gitignore
/HW/HW8/.idea/.gitignore
/HW/HW9/.idea/encodings.xml
/HW/HW9/.vscode/launch.json
/HW/HW9/Subway/tests/metro.log
/HW/HW8/MoeinZ.mp3
/HW/HW8/Netta.mp3
/HW/HW8/Nikita.mp3
/HW/HW10/.idea/.gitignore
/HW/HW10/.idea/git_toolbox_prj.xml
/HW/HW10/.idea/HW10.iml
/HW/HW10/.idea/misc.xml
/HW/HW10/.idea/modules.xml
/HW/HW10/.idea/inspectionProfiles/profiles_settings.xml
/HW/HW10/.idea/inspectionProfiles/Project_Default.xml
/HW/HW10/.idea/vcs.xml
/HW/HW11/venv/
HW/HW10/HW10-3/__pycache__/
HW/HW10/temp.md
HW/HW11/.idea/
HW/HW11/HW11-3/__pycache__/
HW/HW7/HW7-4/__pycache__/
HW/HW7/__pycache__/
HW/HW9/Subway/__pycache__/
HW/HW9/Subway/models/__pycache__/
